{{!  
    This template populates the announcements detail page

    @author OpenCollab
    @since 1.0.0
}}
<tr>
    <th>Subject</th>
    <td>{{subject}}</td>
</tr>
<tr>Subject
    <th>Saved By</th>
    <td>{{saved_by}}</td>
</tr>
<tr>
    <th>Modified Date</th>
    <td>{{displayDate mod_date}}</td>
</tr>
<tr>
    <th>Beginning Date</th>
    <td>{{displayDate begin_date}}</td>
</tr>
<tr>
    <th>Ending Date</th>
    <td>{{displayDate end_date}}</td>
</tr>
<tr>
    <th>Groups</th>
    <td>{{groups}}</td>
</tr>